@font-face {
  font-family: "iconfont"; /* Project id 4364877 */
  src: url('iconfont.woff2?t=1714306512439') format('woff2'),
       url('iconfont.woff?t=1714306512439') format('woff'),
       url('iconfont.ttf?t=1714306512439') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Shankar:before {
  content: "\e6a9";
}

.icon-lianxiren:before {
  content: "\e612";
}

.icon-xiaoxi:before {
  content: "\e60f";
}

.icon-gerenxinxi:before {
  content: "\e847";
}

.icon-arrow-to-top:before {
  content: "\e83d";
}

.icon-reply:before {
  content: "\e8b7";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-github1:before {
  content: "\e64a";
}

.icon-weixin:before {
  content: "\e602";
}

.icon-tubiaozhizuomoban:before {
  content: "\e625";
}

