.ant-btn {
    outline: none!important;
}
.customBtn {
    border-color: rgba(22, 119, 255,0.5);
    color: #999
}

.customModal {
    width: fit-content !important;
    &>.ant-modal-content {
        width: fit-content;
        background-color: #141414;
        box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .36),0px 8px 20px rgba(0, 0, 0, .72);
        &>.ant-modal-body {
            &>.ant-modal-confirm-body-wrapper {
                &>.ant-modal-confirm-body {
                    justify-content: center;
                    margin-bottom: 20px;
                    &>.ant-modal-confirm-paragraph{
                        &>.ant-modal-confirm-title{
                            color:white
                        }
                    }
                }
            }
        }
    }
}
.customTransfer  {
    &>.ant-transfer-list {
        border: none;
        &>.ant-transfer-list-header {
            background-color: #262727;
            color: white;
        }
        &>.ant-transfer-list-body {
            color: white;
            &>.ant-transfer-list-content {
                &>.ant-transfer-list-content-item-checked {
                    background-color: #222;
                }
            }
        }
    }
    &>.ant-transfer-operation {
        & > button {
            border: none;
            background-color: #1677ff;
            color: white;
            &:hover {
                background-color: #4096ff;
            }
            &:disabled {
                background-color: #4096ff;
            }
        }
    }
}
.customInput {
    &::placeholder{
        color:#a8abb2;
    }
    background-color: #424654;
    color: white;
    border-color: #424654;
    padding: 4px;
    &:disabled {
        background-color: #424654 !important;
        border-color: #424654;
        color: white;
    }
}
//激活态阴影
//rgba(22, 119, 255,0.1)