@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    .no-wrap-ellipsis {
        white-space: nowrap;
        /* 防止文本换行 */
        overflow: hidden;
        /* 隐藏超出容器的部分 */
        text-overflow: ellipsis;
        /* 超出部分以省略号显示 */
    }
    .ban-select {
        -moz-user-select: none;
            /*火狐*/
            -webkit-user-select: none;
            /*webkit浏览器*/
            -ms-user-select: none;
            /*IE10*/
            -khtml-user-select: none;
            /*早期浏览器*/
            user-select: none;
    }
}